{{#if talents_types}}
    <div class="col-md-4">
        <h4>{{title}}</h4>
        <ul>
        {{#eachProperty talents_types}}
            {{#if value.[2]}}
                <li>
                    <a href="#talents/{{toHtmlId key}}{{currentQuery}}">{{toTitleCase value.[2]}}</a>
                    (×{{toDecimal value.[1] 1}}{{#unless value.[0]}}, locked{{/unless}})
                </li>
            {{/if}}
        {{/eachProperty}}
        </ul>
    </div>
{{/if}}