<dl class='dl-table'>
    {{#if require}}
        <dt>Requirements</dt>
        <dd>
            {{#if multi_require}}
                <span class="html-tooltip" data-toggle="tooltip" data-placement="right" title="
                Requirements at 1-{{points}} talent points:
                <ol>
                {{#each require}}
                    <li>{{this}}</li>
                {{/each}}
                </ol>">{{require.[0]}}</span>
            {{else}}
                {{{require.[0]}}}
            {{/if}}
        </dd>
    {{/if}}
    {{#if mode}}<dt>Use Mode</dt><dd>{{mode}}</dd>{{/if}}
    {{#if cost}}<dt>Cost</dt><dd>{{{cost}}}</dd>{{/if}}
    {{#if range}}<dt>Range</dt><dd>{{{range}}}</dd>{{/if}}
    {{#if cooldown}}<dt>Cooldown</dt><dd>{{{cooldown}}}</dd>{{/if}}
    {{#if use_speed}}<dt>Use Speed</dt><dd>{{use_speed}}</dd>{{/if}}
    {{#if _dlc}}<dt>DLC</dt><dd>{{_dlc_name}}</dd>{{/if}}
    {{#if info_text}}
        <dt class="multiline-dd">Description</dt>
        <dd>
            {{{info_text}}}
            {{#if no_unlearn_last}}
                <p class="stock-text">This talent can alter the world in a permanent way, as such you can never unlearn it once known.</p>
            {{/if}}
        </dd>
    {{/if}}
</dl>
