{{! No anchor. Since there's only one h2, we don't want to jump to putting the anchor at the top of the screen. }}
{{!-- <h2><a class="anchor" id="classes/{{toHtmlId short_name}}"></a>{{toTitleCase display_name}}</h2><div> --}}
<h2>{{toTitleCase display_name}}</h2>
<div>
    {{#unless single_subclass}}
        {{#if locked_desc}}<p class="flavor">{{locked_desc}}</p>{{/if}}
        {{{desc}}}
    {{/unless}}
    {{#each subclass_list}}
        <h3><a class="anchor" id="classes/{{toHtmlId ../short_name}}/{{toHtmlId short_name}}"></a>{{toTitleCase display_name}}</h3>
        {{#if locked_desc}}<p class="flavor">{{locked_desc}}</p>{{/if}}
        {{{desc}}}
        <h4>Available Talents</h4>
        <ul>
        {{! FIXME: Separate generic and class talents }}
        {{#eachProperty talents_types}}
            {{#if value.[2]}}
                <li>
                    <a href="#talents/{{toHtmlId key}}{{currentQuery}}">{{toTitleCase value.[2]}}</a>
                    (×{{toDecimal value.[1] 1}}{{#unless value.[0]}}, locked{{/unless}})
                </li>
            {{/if}}
        {{/eachProperty}}
        </ul>
        <div class="wiki-link">
            <a href="http://te4.org/wiki/{{toWikiPage name}}">View Wiki</a>
        </div>
    {{/each}}
</div>
