{{! No anchor. Since there's only one h2, we don't want to jump to putting the anchor at the top of the screen. }}
{{!-- <h2><a class="anchor" id="races/{{toHtmlId short_name}}"></a>{{toTitleCase display_name}}</h2><div> --}}
<h2>{{toTitleCase display_name}}</h2>
<div>
    {{#unless single_subrace}}
        {{#if locked_desc}}<p class="flavor">{{locked_desc}}</p>{{/if}}
        {{{desc}}}
    {{/unless}}
    {{#each subrace_list}}
        <h3 {{#if ../single_subrace}}style="display: none;"{{/if}}>
            <a class="anchor" id="races/{{toHtmlId ../short_name}}/{{toHtmlId short_name}}"></a>{{toTitleCase display_name}}
        </h3>
        <div class="race-desc well">
            <div class="race-images">
                {{#each images}}
                    <img src="img/{{file}}" width="{{#if width}}{{width}}{{else}}64{{/if}}" height="{{#if height}}{{height}}{{else}}64{{/if}}"/>
                {{/each}}
            </div>
            {{#if locked_desc}}<p class="flavor">{{locked_desc}}</p>{{/if}}
            {{{desc}}}
            <div class="wiki-link">
                <a href="http://te4.org/wiki/{{toWikiPage name}}">View Wiki</a>
            </div>
        </div>
        <div class="class-detail-container container-fluid">
            <div class="col-md-4 stats">
                <h4>Stats</h4>
                <dl class="dl-horizontal">
                    {{stat "Strength" stats.str}}
                    {{stat "Dexterity" stats.dex}}
                    {{stat "Constitution" stats.con}}
                    {{stat "Magic" stats.mag}}
                    {{stat "Willpower" stats.wil}}
                    {{stat "Cunning" stats.cun}}
                    {{customStat "Life per level" copy.life_rating 1 10}}
                    {{percentStat "Experience penalty" exp_penalty -1 0}}
                </dl>
            </div>
            <div class="col-md-4 stats extra-stats">
                <h4>Additional Stats</h4>
                <dl class="dl-horizontal">
                    {{#if size}}{{textStat "Size" size}}{{/if}}
                    {{#if copy.global_speed_base}}{{percentStat "Global speed" copy.global_speed_base 0 1}}{{/if}}
                    {{#if copy.poison_immune}}{{percentStat "Poison resistance" copy.poison_immune 0 0}}{{/if}}
                    {{#if copy.cut_immune}}{{percentStat "Bleed resistance" copy.cut_immune 0 0}}{{/if}}
                    {{#if copy.stun_immune}}{{percentStat "Stun resistance" copy.stun_immune 0 0}}{{/if}}
                    {{#if copy.fear_immune}}{{percentStat "Fear resistance" copy.fear_immune 0 0}}{{/if}}
                    {{#if copy.no_breath}}{{textStat "Special" "No need to breathe"}}{{/if}}
                </dl>
            </div>
        </div>
    {{/each}}
</div>
