{{! FIXME: type header and description }}
{{#each this}}
<h2><a class="anchor" id="talents/{{type}}"></a>{{toTitleCase name}}</h2>
<div>
    <p>{{description}}</p>
    <p id="talents/{{type}}-avail"></p>
    <div>
        {{#each talents}}
            <div class="panel panel-default">
                <div class="panel-heading clickable">
                    <h3 class="panel-title">
                        <a id="talents/{{../type}}/{{toHtmlId id}}" data-toggle="collapse" data-target="#collapse-{{toHtmlId id}}">
                            {{> talent_img}}{{name}}
                        </a>
                    </h3>
                </div>
                <div id="collapse-{{toHtmlId id}}" class="talent-details panel-collapse collapse">
                    <div class="panel-body">
                        {{> talent_details}}
                        {{#if source_code}}{{#unless _dlc}}<div class="source-link"><a href="{{tome_git_url}}/blob/{{tag}}/game/modules/tome/{{source_code.[0]}}#L{{source_code.[1]}}" target="_blank">View source</a></div>{{/unless}}{{/if}}
                        </div>
                    </div>
                </div>
            {{/each}}
    </div>
</div>
{{/each}}
